In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('sampling_points.csv')
pond_ids = df.pop('pond')
pond_gps = df.to_numpy()
df.head()

         lon        lat
0 -89.460093  37.706560
1 -89.459482  37.705398
2 -89.459480  37.704612
3 -89.459498  37.703755
4 -89.461773  37.703185

In [4]:
#sample point for pond 14: -89.466749, 37.704101
#invalid sample point:     -89.464443, 37.701307
# -89.466331, 37.703659
sample = np.array([-89.466749, 37.704101])
sample = np.array([-89.466331, 37.703659])
#duplicate sample point for every listed pond
sample_y = np.tile(sample, (pond_gps.shape[0], 1))
#calculate euclidean distances
distances = np.linalg.norm(pond_gps - sample_y, axis=1)
#calcualte minimum distance in meters
min_dist = distances.min() * 111_000
print("min distance from sampling point: ", round(min_dist), "meters")

#determine if min distance is acceptable
if (min_dist < 100):
    #find pond associated with minimum distance
    pond_id = pond_ids[np.argmin(distances)]
else:
    pond_id = "unknown"

pond_id

min distance from sampling point:  41 meters

14

In [1]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import db
folder = ""
cred = credentials.Certificate(folder + "fb_key.json")
app = firebase_admin.initialize_app(cred, {'databaseURL': 'https://haucs-monitoring-default-rtdb.firebaseio.com'})

In [2]:
db.reference('LH_Farm/email/truck_notifications').get()

['3094126264@vtext.com', 'wfairman@fau.edu', '6183030525@vtext.com']

In [33]:
ref_recent = db.reference('/LH_Farm/recent')
recent_data = ref_recent.order_by_key().limit_to_last(9).get()

In [51]:
data = recent_data['20230704_12:40:00']

recent_data['20230706_11:12:23'] = data

ref_recent.set(recent_data)